@import url(https://fonts.googleapis.com/css?family=Raleway);


.navbar-spacer {
    display: none;
}

.navbar > .container {
    width: 100%;
}


.navbar-link.active {
    color: #33C3F0;
}

.has-docked-nav .navbar-spacer {
     display: block;
 }

.has-docked-nav .navbar > .container {
    width: 80%;
}

t {
    font-family: "Lucida Console", Monaco, monospace;
}

.container {
    max-width: 800px;
}

.header {
    margin-top: 20rem;
    text-align: center;
}

.value-prop {
    margin-top: 1rem;
}

.value-props {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

nav ul a {
    font-size: 15px;
    color: black;
}

a, code, p {
    font-size: 1.3rem;
}

.title {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 2.5em;
    text-align: center;
}

.well {
    white-space: pre;
    word-wrap: break-word;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

nav {
    background-color: ghostwhite;
    color: black;
}

nav:hover {
   background-color: whitesmoke;
}

nav:hover {
    background-color: whitesmoke;
}

.docs-header {
    font-size: 1.4rem;
    letter-spacing: .2rem;
    font-weight: 600;
}

.section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.docs-section {
    margin-top: 50px;
    border-top: 1px solid #eee;
    padding: 4rem 0;
    margin-bottom: 0;
}

text {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 36px;
}

body {
    font-size: 1.4em;
    line-height: 1.6;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}

h1 {
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
}

h2 {
    font-size: 3.0rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
}

h3 {
    font-size: 2.5rem;
    line-height: 1.3;
    letter-spacing: -.1rem;
}

h4 {
    font-size: 2.0rem;
    line-height: 1.35;
    letter-spacing: -.08rem;
}

h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
}

h6 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0;
}

h1 {
    font-family: "Lucida Console", Monaco, monospace;
}

.navbar {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-width: 0 1px 2px 1px;
    position: fixed;
    top: 0px;
}

.navbar .navbar-nav > li > a {
    font-size: 0.9;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    letter-spacing: .2rem;
    margin-right: 5px;
    color: #222;
}

.navbar .navbar-brand {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    color: #222;
}

.navbar-brand:hover{
    color: #1EAEDB  ;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-brand  > a:hover {
  color: #1EAEDB;
}
